{{# if products}}
<div id="tt-pageContent">
    <div class="container-indent">
        <div class="container">
            <h1 class="tt-title-subpages noborder">SHOPPING CART</h1>
            <div class="tt-shopcart-table-02">
                <table>
                    <tbody>
                        {{# each products}}
                        <tr>
                            <td>
                                <div class="tt-product-img">
                                    <img src="images/loader.svg" data-src="{{this.item.imagePath}}" alt="">
                                </div>
                            </td>
                            <td>
                                <h2 class="tt-title">
                                    <a href="#">{{this.item.title}}</a>
                                </h2>
                                <ul class="tt-list-description">
                                    <li>Size: 22</li>
                                    <li>Color: Green</li>
                                </ul>
                                {{!-- <ul class="tt-list-parameters">
                                    <li>
                                        <div class="tt-price">
                                            {{this.item.price}}
                                            1
                                        </div>
                                    </li>
                                    <li>
                                        <div class="detach-quantity-mobile"></div>
                                    </li>
                                    <li>
                                        <div class="tt-price subtotal">
                                            {{this.price}}
                                            2
                                        </div>
                                    </li>
                                </ul> --}}
                            </td>
                            <td>
                                <div class="tt-price">
                                    
                                    {{this.item.price}} $
                                    
                                </div>
                            </td>
                            <td>
                                <div class="detach-quantity-desctope">
                                    <div class="tt-input-counter style-01">
                                        <span class="minus-btn"></span>
                                        <input type="text" value="{{this.qty}}" size="5">
                                        <span class="plus-btn"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="#" class="tt-btn-close"></a>
                            </td>
                            <td>
                                <div class="tt-price subtotal">

                                </div>
                            </td>
                            
                        </tr>
                        {{/each}}
                        
                    </tbody>
                </table>
                <div class="tt-shopcart-btn">
                    <div class="col-left">
                        <a class="btn-link" href="/"><i class="icon-e-19"></i>CONTINUE SHOPPING</a>
                    </div>
                    <div class="col-right">
                        <a class="btn-link" href="#"><i class="icon-h-02"></i>CLEAR SHOPPING CART</a>
                        <a class="btn-link" href="#"><i class="icon-h-48"></i>UPDATE CART</a>
                    </div>
                </div>
            </div>
            <div class="tt-shopcart-col">
                <div class="row">
                    <div class="container col-md-6 col-lg-6">
                        <div class="tt-shopcart-box tt-boredr-large">
                            <table class="tt-shopcart-table01">
                                <tbody>
                                    <tr>
                                        <th>SUBTOTAL</th>
                                        <td>{{totalPrice}} $</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>GRAND TOTAL</th>
                                        <td>{{totalPrice}} $</td>
                                    </tr>
                                </tfoot>
                            </table>
                            <a href="/checkout" class="btn btn-lg"><span class="icon icon-check_circle"></span>PROCEED TO
                                CHECKOUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div id="tt-pageContent">
    <div class="container-indent nomargin">
        <div class="tt-empty-cart">
            <span class="tt-icon icon-f-39"></span>
            <h1 class="tt-title">SHOPPING CART IS EMPTY</h1>
            <p>You have no items in your shopping cart.</p>
            <a href="/" class="btn">CONTINUE SHOPPING</a>
        </div>
    </div>
</div>
{{/if}}